joblib==1.4.0
kaggle==1.6.12
keras==3.3.3
numpy==1.26.4
scikit-learn==1.4.2
scipy==1.13.0
sklearn-preprocessing==0.1.0
tensorflow==2.16.1
dvc==3.50.1
dvc-gdrive
pylint==2.12.2
dslinter==2.0.9
flake8<=7.0.0
lib_ml @ git+https://github.com/Release-Engineering-Group-13/lib-ml.git@v1.0.3
ellipsis
pytest==8.2.1
ElementTree==1.3.0